.product {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.image-container {
  align-self: center;
  width: 100%;
}

.product-image {
  filter: invert(.8);
  width: 100%;
}

.product-name {
  align-self: center;
}

.star-container {
  color: #969696;
  display: flex;
}

.star {
  height: 20px;
  margin: 1px;
  width: 20px;
}

.unfilled {
  filter: invert(.8);
}

.number-of-reviews {
  font-size: 18px;
  margin-top: 2px;
}