.product {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.image-container {
  align-self: center;
  width: 100%;
}

.product-image {
  filter: invert(.8);
  width: 100%;
}

.product-name {
  border-bottom: #969696 1px solid;
  border-top: #969696 1px solid;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  width: 100%;
}

.product-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  margin: 0 0 5px 0;
}

.star-container {
  align-items: center;
  color: #969696;
  display: flex;
  height: 22px;
}

.star {
  height: 16px;
  margin: 1px;
  width: 16px;
}

.unfilled {
  filter: invert(.8);
}

.number-of-reviews {
  font-size: 18px;
}

.added {
  color: #1F7A8C;
  font-weight: bold;
  margin: 0;
}