@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto');

body {
  background: #FDFDFF;
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
}

h1 {
  color: #22333B;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 64px;
  font-weight: 100;
  margin: 0;
}

h2 {
  color: #3C5A68;
  font-weight: 100;
  margin: 0;
  padding-left: 6px;
}
